@page
@model IndexModel
@{
    ViewData["Title"] = "Traveler Devices";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="text-center">
    <h1 class="display-4">Test Bluetooth Scanner Page</h1>
    <p>Learn about <a href="~/BluetoothScanner">Bluetooth Scanner</a>.</p>
</div>

